*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.btn-online{
    border: solid #FFFFFF 1px;
}

.list-width{
    position: absolute;
    width: 13%;
}
.border-none{
    border: none;
}
.border-right{
    border-right: solid #2F3133 1px;
}
.float-right{
    position: relative;
    float: right;
    margin-top:10%;
    margin-left: 10%;
}
.font-size-1_2em{
    font-size: 1.2em;
              }
.font-size-0_5em{
    font-size: 0.5em;
}
.api_panel{
    width: 80%;
    position: absolute;
    margin-left: 15%;
}


.font-bold{
    font-weight: bold;
}
.float-code{
    margin-left:0%;
}
.register_box_around{
    height: 100%;
    width: 100%;
    position: absolute;
    /*background-color: wheat;*/
    /*background-image: url('/img/get/register_bg');*/
}
.register_box{
    width: 450px;
    z-index: 9;
    height:350px;
    /*background-color: steelblue;*/
    position: absolute;
    margin-left: 200px;
    margin-top: -250px;
}
.register_box_bottom{
    height: 350px;

    /*background-color: skyblue;*/
    position: relative;
}
.login{
    width: 500px;
}